

<!-- Header Section -->
<div class="header">
  <span class="date-time"><h4>{{ currentDate | date: 'fullDate' }} {{ currentDate | date: 'shortTime' }}</h4></span>
  
  
 
  <!-- Circular Avatar with profile image -->
  <div class="profile-avatar" (click)="navigateToYourProfile()">
    <img src="assets/images/profile.png" alt="Profile Avatar" />
  </div>
</div>
<app-navbar></app-navbar>
<!-- Button to open user registration dialog -->
<div class="register-button-container">
  <button mat-button mat-raised-button color="primary" class="rounded-button" (click)="openRegistrationPopup()">Open User Registration</button>
</div>

<h2 class="user-list-heading">Users List</h2>

<!-- Table for non-'New' users -->
<!-- Table for non-'New' users -->
<div class="table-container">
  <table class="styled-table" *ngIf="nonNewUsers.length > 0">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Total Tasks</th>
        <th>Completed Tasks</th>
        <th>Pending Tasks</th>
        <th>Tenure</th>
        <th>Actions</th> <!-- Add a column for actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of nonNewUsers">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td class="total-tasks">{{ user.totalTasksCount }}</td>
        <td class="completed-tasks">{{ user.completedTasksCount }}</td>
        <td class="pending-tasks">{{ user.pendingTasksCount }}</td>
        <td>{{ getTenure(user.createdAt) }}</td>
        <td>
          <button mat-button class="details-button rounded-button" (click)="navigateToProfile(user.userId)">View Details</button>
          <button mat-button color="red" class="rounded-button" (click)="cancelUser(user)">Delete</button>
          <button mat-button [color]="user.isDeleted ? 'accent' : 'primary'" class="rounded-button" (click)="enableDisableUser(user)">
            {{ user.isDeleted ? 'Enable' : 'Disable' }}
          </button>
        </td>
      </tr>
    </tbody>
    

  </table>
</div>

<!-- Registration Dialog -->
<ng-template #registrationPopup>
  <div class="dialog-container">
    <div class="dialog-content">
      <h3>Register New Users</h3>
      <ul *ngIf="newUsers.length > 0">
        <li *ngFor="let user of newUsers" class="user-item">
          <span>{{ user.firstName }} {{ user.lastName }}</span>
          <button mat-raised-button color="primary" class="rounded-button" (click)="registerUser(user)">Add User</button>
          <button mat-raised-button color="warn" class="rounded-button" (click)="cancelUser(user)">Remove User</button>
        </li>
      </ul>
      <p *ngIf="newUsers.length === 0">No new users available to register.</p>
      <button mat-button class="close-button rounded-button" (click)="closeDialog()">Close Dialog</button>
    </div>
  </div>
</ng-template>
